includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.php

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        - # pre-validated config
            message: '#^Cannot access property \$onError on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Cannot access property \$onStart on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Cannot access property \$onSuccess on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Parameter \#1 \$bleedingEdge of static method Nepada\\MessageBus\\StaticAnalysis\\MessageHandlerValidationConfiguration\:\:command\(\) expects bool, mixed given\.$#'
            identifier: argument.type
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Parameter \#1 \$bleedingEdge of static method Nepada\\MessageBus\\StaticAnalysis\\MessageHandlerValidationConfiguration\:\:event\(\) expects bool, mixed given\.$#'
            identifier: argument.type
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Parameter \#1 \$class of function class_exists expects string, mixed given\.$#'
            identifier: argument.type
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        - # pre-validated config
            message: '#^Parameter \#1 \$definition of method Nepada\\MessageBusNette\\DI\\MessageBusExtension\:\:resolveLoggerService\(\) expects array\{class\: string, arguments\: array\<mixed\>\|null\}\|string, mixed given\.$#'
            identifier: argument.type
            count: 1
            path: src/MessageBusNette/DI/MessageBusExtension.php
        -
            message: '#^Method Nepada\\MessageBusNette\\DI\\PsrContainerAdapter\:\:get\(\) should return object but returns mixed\.$#'
            identifier: return.type
            count: 1
            path: src/MessageBusNette/DI/PsrContainerAdapter.php
